#skillsBars {
    overflow: hidden;
    width: 100vw;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
}

.skillTitle {   
    padding: 2rem;
    align-items: center;
    text-align: center;
}

.skillBar {
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
}

.skillBarItem {
    display: inline-block;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}